.single__member {
  border: 1px solid #7c8a972d;
  border-radius: 4px;
  background-color: white;
}

.single__member-social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transform: scale(0.1);
  border-radius: 4px;
  transition: 0.5s ease;
  opacity: 0;
}

.single__member-social a i {
  width: 28px;
  height: 28px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  font-size: 0.9rem;
  font-weight: 600;
}

.single__member-social a {
  text-decoration: none;
  cursor: pointer;
}

.single__member-img {
  position: relative;
  cursor: pointer;
  
}

.single__member-img img {
  border-radius: 4px;
  max-height: 238px;
  object-fit: cover;
  object-position: top;
}

.single__member-img:hover .single__member-social {
  transform: scale(1);
  opacity: 1;
}
